<div class="container-fluid ranking-content general-ranking bg-primary {{#isteacher}}isteacher{{/isteacher}}" data-sid="{{sessionid}}" data-cmid="{{cmid}}" data-jqshowid="{{jqshowid}}" data-region="ranking-content">
    <div class="row">
        <div class="col-12 ranking-container">
            <div class="ranking-heading">
                <h2>{{#str}}final_ranking, mod_jqshow{{/str}}</h2>
                <div class="question-fullscreen" data-action="question-fullscreen">
                    {{#pix}}q/zoomin, mod_jqshow{{/pix}}
                </div>
                <div class="question-fullscreen" data-action="question-exit-fullscreen">
                    {{#pix}}q/zoomout, mod_jqshow{{/pix}}
                </div>
            </div>
            <div class="ranking-users container-fluid px-0" data-region="ranking-users">
                <div class="ranking-first-three">
                    <div class="second-user">
                        <div class="userimage">
                            <div class="userposition">
                                <span>2</span>
                            </div>
                            <img src="{{seconduserimageurl}}" alt="{{seconduserfullname}}" /> <span>{{seconduserfullname}}</span>
                        </div>
                        <div class="username">
                            {{ seconduserfullname }}
                        </div>
                        <div class="second-userpoints userpoints">
                            <div class="content-points">
                                {{#pix}}q/finalpoints, mod_jqshow{{/pix}}
                                {{ seconduserpoints}}
                            </div>
                        </div>
                    </div>
                    <div class="first-user">
                        <div class="userimage">
                            <div class="userposition">
                                <span>2</span>
                            </div>
                            <img src="{{firstuserimageurl}}" alt="{{firstuserfullname}}" /> <span>{{firstuserfullname}}</span>
                        </div>
                        <div class="username">
                            {{ firstuserfullname }}
                        </div>
                        <div class="first-userpoints userpoints">
                            <div class="content-points">
                                {{#pix}}q/finalpoints, mod_jqshow{{/pix}}
                                {{ firstuserpoints}}
                            </div>
                        </div>
                    </div>
                    <div class="third-user">
                        <div class="userimage">
                            <div class="userposition">
                                <span>2</span>
                            </div>
                            <img src="{{thirduserimageurl}}" alt="{{thirduserfullname}}" /> <span>{{thirduserfullname}}</span>
                        </div>
                        <div class="username">
                            {{ thirduserfullname }}
                        </div>
                        <div class="third-userpoints userpoints">
                            <div class="content-points">
                                {{#pix}}q/finalpoints, mod_jqshow{{/pix}}
                                {{ thirduserpoints}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ranking-users-body d-table list-group" data-region="ranking_users">
                    {{#finalranking}}
                        <div class="d-table-row ranking-users-data user-item" data-userid="{{userid}}">
                            <div class="d-table-cell userposition text-center">
                                <span>{{userposition}}</span>
                            </div>
                            <div class="d-table-cell username">
                                <img src="{{userimageurl}}" alt="{{userfullname}}" /> <span>{{userfullname}}</span>
                            </div>
                            <div class="d-table-cell userpoints text-center">
                                <span>{{userpoints}}</span>
                                {{#pix}}q/points, mod_jqshow{{/pix}}
                            </div>
                        </div>
                    {{/finalranking}}
                </div>
            </div>
        </div>
    </div>
</div>
{{#js}}
    require(['mod_jqshow/question'], function(Question) {
        Question.initQuestion('[data-region="ranking-content"]');
    });
{{/js}}
