{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Project implemented by the "Recovery, Transformation and Resilience Plan.
    Funded by the European Union - Next GenerationEU".
    Produced by the UNIMOODLE University Group: Universities of
    Valladolid, Complutense de Madrid, UPV/EHU, León, Salamanca,
    Illes Balears, Valencia, Rey Juan Carlos, La Laguna, Zaragoza, Málaga,
    Córdoba, Extremadura, Vigo, Las Palmas de Gran Canaria y Burgos
}}
<div class="container-fluid ranking-content general-ranking bg-primary provisional {{#isteacher}}isteacher{{/isteacher}}" data-jqid="{{jqid}}" data-questionid="{{questionid}}" data-sid="{{sessionid}}" data-cmid="{{cmid}}" data-jqshowid="{{jqshowid}}" data-region="ranking-content">
    <div class="row">
        <div class="col-12 ranking-container">
            <div class="ranking-heading">
                <h2>{{#str}}provisional_ranking, mod_kuet{{/str}}</h2>
                <div class="question-fullscreen" data-action="question-fullscreen">
                    {{#pix}}q/zoomin, mod_kuet{{/pix}}
                </div>
                <div class="question-fullscreen" data-action="question-exit-fullscreen">
                    {{#pix}}q/zoomout, mod_kuet{{/pix}}
                </div>
            </div>
            <div class="ranking-users provisionalranking container-fluid px-0" data-region="ranking-users">
                <div class="ranking-users-body d-table list-group" data-region="ranking_users">
                    <div class="d-table-row ranking-users-thead">
                        <div class="d-table-cell"></div>
                        <div class="d-table-cell text-center">{{#str}}name, moodle{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}score_obtained, mod_kuet{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}total_score, mod_kuet{{/str}}</div>
                    </div>
                    {{#provisionalranking}}
                        <div class="PROVISIONAL d-table-row ranking-users-data user-item" data-userid="{{userid}}">
                            <div class="d-table-cell userposition text-center">
                                <span>{{userposition}}</span>
                            </div>
                            <div class="d-table-cell username">
                                <img src="{{userimageurl}}" alt="{{userfullname}}" /> <span>{{userfullname}}</span>
                            </div>
                            <div class="d-table-cell questionscore text-center">
                                <span>{{questionscore}}</span>
                                {{#pix}}q/points, mod_kuet{{/pix}}
                            </div>
                            <div class="d-table-cell userpoints text-center">
                                <span>{{userpoints}}</span>
                                {{#pix}}q/points, mod_kuet{{/pix}}
                            </div>
                        </div>
                    {{/provisionalranking}}
                </div>
            </div>
        </div>
    </div>
</div>
{{#isteacher}}
    {{> mod_kuet/session/manual/teachercontrolpanel }}
{{/isteacher}}
{{#programmedmode}}
    <div class="btn btn-primary m-3 float-right" data-action="next-question" data-questionid="{{questionid}}" data-jqid="{{jqid}}">
        {{#str}}next{{/str}}
    </div>
{{/programmedmode}}
{{#js}}
    require(['mod_kuet/question'], function(Question) {
        Question.initQuestion('[data-region="ranking-content"]');
    });
{{/js}}
