<div class="container-fluid ranking-content general-ranking bg-primary" data-jqid="{{jqid}}" data-questionid="{{questionid}}" data-sid="{{sessionid}}" data-cmid="{{cmid}}" data-jqshowid="{{jqshowid}}" data-region="ranking-content">
    <div class="row">
        <div class="col-12 ranking-container">
            <div class="ranking-heading">
                <h2>{{#str}}provisional_ranking, mod_jqshow{{/str}}</h2>
                <div class="question-fullscreen" data-action="question-fullscreen">
                    {{#pix}}q/zoomin, mod_jqshow{{/pix}}
                </div>
                <div class="question-fullscreen" data-action="question-exit-fullscreen">
                    {{#pix}}q/zoomout, mod_jqshow{{/pix}}
                </div>
            </div>
            <div class="ranking-users" data-region="ranking-users">
                <div class="ranking-users-body d-table list-group" data-region="ranking_users">
                    <div class="d-table-row ranking-users-thead">
                        <div class="d-table-cell"></div>
                        <div class="d-table-cell text-center">{{#str}}name, moodle{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}score_obtained, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}total_score, mod_jqshow{{/str}}</div>
                    </div>
                    {{#provisionalranking}}
                        <div class="d-table-row ranking-users-data user-item" data-userid="{{userid}}">
                            <div class="d-table-cell userposition">{{userposition}}</div>
                            <div class="d-table-cell username">
                                <img src="{{userimageurl}}" alt="{{userfullname}}" /> <span>{{userfullname}}</span>
                            </div>
                            <div class="d-table-cell questionscore text-center">
                                <span>{{questionscore}}</span>
                                {{#pix}}q/points, mod_jqshow{{/pix}}
                            </div>
                            <div class="d-table-cell userpoints text-center">
                                <span>{{userpoints}}</span>
                                {{#pix}}q/points, mod_jqshow{{/pix}}
                            </div>
                        </div>
                    {{/provisionalranking}}
                </div>
            </div>
        </div>
    </div>
</div>
{{#js}}
    require(['mod_jqshow/question'], function(Question) {
        Question.initQuestion('[data-region="ranking-content"]');
    });
{{/js}}
