<div>

    <div>questiontext: </div>
    {{questiontext}}
    <div>name: </div>
    {{name}}
    <div>index: </div>
    {{question_index_string}}
    <div>hastimelimit: </div>
    {{hastimelimit}}
    <div>time: </div>
    {{time}}
    <div>sessionprogress: </div>
    {{sessionprogress}}
    <div>qtype: </div>
    {{qtype}}
    <div>ANSWERS: </div>
    {{#answers}}
        <div>id:{{answerid}} </div>
        <div>ANSWER: {{answertext}}</div>
        <div>feedback: {{feedback}}</div>
    {{/answers}}
    {{#feedbacks}}
        <div>id:{{answerid}} </div>
        <div>feedback: {{feedback}}</div>
    {{/feedbacks}}
</div>