<div class="col-12 question-report" data-region="question-report">
    <!-- First data -->
    <div class="row">
        <div class="col-8 col-lg-8 container">
            <div class="question">
                <h6 class="titlecontainer bg-primary">
                    {{#pix}} i/questions_list, mod_jqshow {{/pix}}
                    {{#str}}question, mod_jqshow{{/str}}: {{position}} ({{type}})
                </h6>
                <div class="question-data" data-region="question-data">
                    <div class="question-data-body">
                        {{{questiontext}}}
                        <br>
                        {{^hasnoanswers}}
                            <h6 class="correct-answers-title">{{#str}}scored_answers, mod_jqshow{{/str}}</h6>
                            <ul class="correct-answers">
                                {{#correctanswers}}
                                    <li>{{{response}}}{{#score}}: <b>{{.}}pt</b>{{/score}}</li>
                                {{/correctanswers}}
                            </ul>
                        {{/hasnoanswers}}
                        <div class="question-preview bg-primary" data-action="question-preview" data-sessionid="{{sessionid}}" data-questionnid="{{jqid}}" data-cmid="{{cmid}}">
                            <span>{{#str}}preview, mod_jqshow{{/str}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 col-lg-4 container">
            <div class="question-info">
                <h6 class="titlecontainer bg-primary">
                    {{#str}}student_number, mod_jqshow{{/str}}: {{numusers}}
                </h6>
                <div class="question-info-data" data-region="question-info-data">
                    <div class="question-data-body">
                        <div class="alert alert-success mb-1" role="alert">
                            <b>{{ percent_correct }}{{#str}}percent_correct, mod_jqshow{{/str}} ({{numcorrect}})</b>
                        </div>
                        <div class="alert alert-danger mb-1" role="alert">
                            <b>{{ percent_incorrect }}{{#str}}percent_incorrect, mod_jqshow{{/str}} ({{numincorrect}})</b>
                        </div>
                        <div class="alert alert-light mb-1" role="alert">
                            <b>{{ percent_partially }}{{#str}}percent_partially, mod_jqshow{{/str}} ({{numpartial}})</b>
                        </div>
                        <div class="alert alert-warning mb-0" role="alert">
                            <b>{{ percent_noresponse }}{{#str}}percent_noresponse, mod_jqshow{{/str}} ({{numnoresponse}})</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Second data -->
    {{^ nostatistics }} {{^hasnoanswers}}
        <div class="row">
        <div class="col-12 col-lg-12 container">
            <div class="answers">
                <h6 class="titlecontainer bg-primary">
                    {{#pix}} i/questions_list, mod_jqshow {{/pix}}
                    {{#str}}responses, mod_jqshow{{/str}}: {{position}} ({{type}})
                </h6>
                <div class="answers-data" data-region="answers-data">
                    <div class="answers-data-body">
                        {{#answers}}
                            <div class="answer {{result}}">
                                <div class="answer-body">
                                    <div class="answer-left">
                                        <div class="result-icon">
                                            {{#resulticon}}
                                                {{#pix}} {{key}}, {{component}}, {{alttext}} {{/pix}}
                                            {{/resulticon}}
                                        </div>
                                        <h5 class="answer-title">
                                            {{{ answertext }}}
                                        </h5>
                                    </div>
                                    <div class="answer-right">
                                        <div class="num-answers {{result}}">
                                            {{#usersicon}}
                                                {{#pix}} {{key}}, {{component}}, {{alttext}} {{/pix}}
                                            {{/usersicon}}
                                            <span>{{numticked}}</span>
                                        </div>
                                        <div class="averagetime">
                                            {{#pix}}i/time, mod_jqshow{{/pix}}
                                            <span>{{averagetime}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/answers}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/hasnoanswers}} {{/nostatistics}}
    <!-- Ranking question data -->
    {{#hasranking}}
        <div class="col-12 col-lg-12 container">
            <div class="ranking-list">
                <h6 class="titlecontainer bg-primary">
                    {{#pix}} i/vote_gray, mod_jqshow {{/pix}}
                    {{#str}}ranking, mod_jqshow{{/str}}
                </h6>
                <div class="ranking-users" data-region="ranking-users">
                    <div class="ranking-users-body d-table list-group" data-region="ranking_users">
                        <div class="d-table-row ranking-users-thead">
                            <div class="d-table-cell">{{#str}}participant, mod_jqshow{{/str}}</div>
                            <div class="d-table-cell text-center">{{#str}}status, mod_jqshow{{/str}}</div>
                            <div class="d-table-cell text-center">{{#str}}score, mod_jqshow{{/str}}</div>
                            <div class="d-table-cell text-center">{{#str}}score_moment, mod_jqshow{{/str}}</div>
                            <div class="d-table-cell text-center">{{#str}}time, mod_jqshow{{/str}}</div>
                            <div class="d-table-cell text-center"></div>
                        </div>
                        {{#questionranking}}
                            <div class="d-table-row ranking-users-data user-item" data-userid="{{userid}}">
                                <div class="d-table-cell">
                                    <div class="participant" data-userid="{{userid}}">
                                        <a href="{{userprofileurl}}" target="_blank">
                                            <img src="{{userimage}}" alt="{{userfullname}}">
                                            <span class="user-fullname">
                                                {{userfullname}}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-table-cell text-center">
                                    <div class="{{response}}">
                                        <span>{{responsestr}}</span>
                                    </div>
                                </div>
                                <div class="d-table-cell text-center">{{userpoints}}</div>
                                <div class="d-table-cell text-center">{{score_moment}}</div>
                                <div class="d-table-cell text-center">{{time}}</div>
                                <div class="d-table-cell text-center actions">
                                    <span class="d-flex align-items-cente justify-content-center">
                                        <div class="mr-2" title="{{#str}}viewquestion_user, mod_jqshow{{/str}}" data-action="seeanswer" data-userid="{{id}}" data-sessionid="{{sessionid}}" data-questionnid="{{questionnid}}" data-cmid="{{cmid}}">
                                            {{#pix}}i/preview, mod_jqshow{{/pix}}
                                        </div>
                                        <a href="{{viewreporturl}}" title="{{#str}}viewreport_user, mod_jqshow{{/str}}">
                                            {{#pix}}i/vote_gray, mod_jqshow{{/pix}}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        {{/questionranking}}
                        {{#questiongroupranking}}
                            <div class="d-table-row ranking-users-data user-item" data-groupid="{{id}}">
                                <div class="d-table-cell">
                                    <div class="participant" data-groupid="{{id}}">
                                        <a href="{{groupurl}}" target="_blank">
                                            <img src="{{groupimage}}" alt="{{name}}">
                                            <span class="user-fullname">
                                                {{name}}
                                            </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-table-cell text-center">
                                    <div class="{{response}}">
                                        <span>{{responsestr}}</span>
                                    </div>
                                </div>
                                <div class="d-table-cell text-center">{{grouppoints}}</div>
                                <div class="d-table-cell text-center">{{score_moment}}</div>
                                <div class="d-table-cell text-center">{{time}}</div>
                                <div class="d-table-cell text-center actions">
                                    <span class="d-flex align-items-cente justify-content-center">
                                        <div class="mr-2" title="{{#str}}viewquestion_user, mod_jqshow{{/str}}" data-action="seeanswer" data-userid="{{participantid}}" data-sessionid="{{sessionid}}" data-questionnid="{{questionnid}}" data-cmid="{{cmid}}">
                                            {{#pix}}i/preview, mod_jqshow{{/pix}}
                                        </div>
                                        <a href="{{viewreporturl}}" title="{{#str}}viewreport_user, mod_jqshow{{/str}}">
                                            {{#pix}}i/vote_gray, mod_jqshow{{/pix}}
                                        </a>
                                    </span>
                                </div>
                            </div>
                        {{/questiongroupranking}}
                    </div>
                </div>
            </div>
        </div>
    {{/hasranking}}
</div>
<div class="download-report" data-region="download-report">
    <div class="row">
        {{{downloadquestionreport}}}
    </div>
</div>

{{#js}}
    require(['mod_jqshow/question_report'], function(questionReport) {
        questionReport.questionReport('[data-region="question-report"]');
    });
{{/js}}
