<div data-region="reports" data-jqshowid="{{jqshowid}}" data-cmid="{{cmid}}">
    {{#allreports}}
        <h2>{{#str}}reports, mod_jqshow{{/str}}</h2>
        <small>{{#str}}reports_info, mod_jqshow{{/str}}</small>
    {{/allreports}}
    {{#userreport}}
        <h2>{{#str}}userreport, mod_jqshow{{/str}} - {{sessionname}}</h2>
        <small class="d-block mb-2">{{#str}}userreport_info, mod_jqshow{{/str}}</small>
    {{/userreport}}
    <div class="row">
        <div class="col-12 completed-sessions sessions-list">
            {{#allreports}}
                <div class="sessions-list-header bg-primary">
                    <div class="sessions-list-header-title">
                        {{#pix}} i/sessions_list, mod_jqshow {{/pix}}
                        <h5>{{#str}}completed_sessions, mod_jqshow{{/str}}</h5>
                    </div>
                </div>
                <div class="sessions-list-body d-table">
                    <div class="d-table-row sessions-list-thead">
                        <div class="d-table-cell">{{#str}}session_name, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell">{{#str}}sessionmode, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell">{{#str}}timemode, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}sessiontime, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}questions_number, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}session_date, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell"></div>
                    </div>
                    {{#endedsessions}}
                        <div class="d-table-row sessions-list-data">
                            <div class="d-table-cell">{{name}}</div>
                            <div class="d-table-cell">{{sessionmode}}</div>
                            <div class="d-table-cell">{{timemode}}</div>
                            <div class="d-table-cell text-center">{{sessiontime}}</div>
                            <div class="d-table-cell text-center">{{questions_number}}</div>
                            <div class="d-table-cell text-center">{{date}}</div>
                            <div class="d-table-cell viewreport-session">
                                <a href="{{viewreporturl}}">
                                    https://unimoodletest.3ip.eu/        + <span>{{#str}}viewreport_session, mod_jqshow{{/str}}</span>
                                </a>
                            </div>
                        </div>
                    {{/endedsessions}}
                </div>
            {{/allreports}}
            {{#userreport}}
                <div class="col-12 col-lg-12 container mt-3">
                    <div class="content-info">
                        <div class="participant" data-userid="{{userid}}">
                            <a href="{{userprofileurl}}" target="_blank">
                                <img src="{{userimage}}" alt="{{userfullname}}">
                                <span class="user-fullname">
                                    {{userfullname}}
                                </span>
                            </a>
                        </div>
                        <a class="btn btn-primary back-report" href="{{backurl}}">
                            {{#str}}back{{/str}}
                        </a>
                    </div>
                    <div class="d-flex flex-row justify-content-center w-100 mt-4">
                        <div class="alert alert-info rounded-left mb-0" role="alert">
                            <b>{{#str}}questions_number, mod_jqshow{{/str}}:</b> {{ numquestions }}
                        </div>
                        <div class="alert alert-success rounded-0 mb-0" role="alert">
                            <b>{{#str}}success, mod_jqshow{{/str}}:</b> {{ success }}
                        </div>
                        <div class="alert alert-light rounded-0 mb-0" role="alert">
                            <b>{{#str}}partially_correct, mod_jqshow{{/str}}:</b> {{ partially }}
                        </div>
                        <div class="alert alert-danger rounded-0 mb-0" role="alert">
                            <b>{{#str}}failures, mod_jqshow{{/str}}:</b> {{ failures }}
                        </div>
                        <div class="alert alert-warning rounded-0 mb-0" role="alert">
                            <b>{{#str}}noresponse, mod_jqshow{{/str}}:</b> {{ noresponse }}
                        </div>
                        <div class="alert alert-dark rounded-right mb-0" role="alert">
                            <b>{{#str}}noevaluable, mod_jqshow{{/str}}:</b> {{ noevaluable }}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-12 container">
                    {{> mod_jqshow/reports/student_questions }}
                </div>
            {{/userreport}}
        </div>
    </div>
</div>
