<div data-region="reports" data-jqshowid="{{jqshowid}}" data-cmid="{{cmid}}">
    {{#allreports}}
        <h2>{{#str}}reports, mod_jqshow{{/str}}</h2>
        <small>{{#str}}reports_info, mod_jqshow{{/str}}</small>
    {{/allreports}}
    {{#onereport}}
        <h2>{{#str}}sessionreport, mod_jqshow{{/str}}</h2>
        <small>{{#str}}sessionreport_info, mod_jqshow{{/str}}</small>
    {{/onereport}}
    <div class="row">
        {{#allreports}}
            <div class="col-12 completed-sessions sessions-list">
                <div class="sessions-list-header bg-primary">
                    <div class="sessions-list-header-title">
                        {{#pix}} i/sessions_list, mod_jqshow {{/pix}}
                        <h5>{{#str}}completed_sessions, mod_jqshow{{/str}}</h5>
                    </div>
                </div>
                <div class="sessions-list-body d-table">
                    <div class="d-table-row sessions-list-thead">
                        <div class="d-table-cell">{{#str}}session_name, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell">{{#str}}sessionmode, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell">{{#str}}timemode, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}sessiontime, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}questions_number, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell text-center">{{#str}}session_date, mod_jqshow{{/str}}</div>
                        <div class="d-table-cell"></div>
                    </div>
                    {{#endedsessions}}
                        <div class="d-table-row sessions-list-data">
                            <div class="d-table-cell">{{name}}</div>
                            <div class="d-table-cell">{{sessionmode}}</div>
                            <div class="d-table-cell">{{timemode}}</div>
                            <div class="d-table-cell text-center">{{sessiontime}}</div>
                            <div class="d-table-cell text-center">{{questions_number}}</div>
                            <div class="d-table-cell text-center">{{date}}</div>
                            <div class="d-table-cell viewreport-session">
                                <a href="{{viewreporturl}}">
                                    + <span>{{#str}}viewreport_session, mod_jqshow{{/str}}</span>
                                </a>
                            </div>
                        </div>
                    {{/endedsessions}}
                </div>
            </div>
        {{/allreports}}
        {{#onereport}}
            <div class="col-12 col-lg-12 container">
                <div class="resume-config">
                    <h5 class="titlecontainer bg-primary">
                        {{#pix}} i/settings, mod_jqshow {{/pix}}
                        {{#str}}session_info, mod_jqshow{{/str}}
                    </h5>
                    {{> mod_jqshow/session/sessionresume }}
                </div>
            </div>
            <div class="col-12 col-lg-12 container">
                {{> mod_jqshow/reports/teacher_questions }}
            </div>
            <div class="col-12 col-lg-12 container">
                {{> mod_jqshow/reports/teacher_ranking }}
            </div>
        {{/onereport}}
    </div>
</div>
