<div data-region="reports" data-jqshowid="{{jqshowid}}" data-cmid="{{cmid}}" class="position-relative">
    {{#allreports}}
        <h2>{{#str}}reports, mod_jqshow{{/str}}</h2>
        <small>{{#str}}reports_info, mod_jqshow{{/str}}</small>
    {{/allreports}}
    {{#onereport}}
        <h2>{{#str}}sessionreport, mod_jqshow{{/str}} - {{sessionname}}</h2>
        <small>{{#str}}sessionreport_info, mod_jqshow{{/str}}</small>
    {{/onereport}}
    {{#userreport}}
        <h2>{{#str}}userreport, mod_jqshow{{/str}} - {{sessionname}}</h2>
        <small class="d-block mb-2">{{#str}}userreport_info, mod_jqshow{{/str}}</small>
    {{/userreport}}
    <div class="row">
        {{#allreports}}
            {{> mod_jqshow/reports/allreports }}
        {{/allreports}}
        {{#onereport}}
            <div class="col-12 col-lg-12 container">
                <div class="resume-config">
                    <h5 class="titlecontainer bg-primary">
                        {{#pix}} i/settings, mod_jqshow {{/pix}}
                        {{#str}}session_info, mod_jqshow{{/str}}
                    </h5>
                    {{> mod_jqshow/session/sessionresume }}
                </div>
            </div>
            <div class="col-12 col-lg-12 container">
                {{> mod_jqshow/reports/teacher_questions }}
            </div>
            <div class="col-12 col-lg-12 container">
                {{> mod_jqshow/reports/teacher_ranking }}
            </div>
        {{/onereport}}
        {{#userreport}}
            <div class="col-12 col-lg-12 container mt-3">
                <div class="content-info">
                    <div class="participant" data-userid="{{userid}}">
                        <a href="{{userprofileurl}}" target="_blank">
                            <img src="{{userimage}}" alt="{{userfullname}}">
                            <span class="user-fullname">
                                {{userfullname}}
                            </span>
                        </a>
                    </div>
                    <a class="btn btn-primary back-report" href="{{backurl}}">
                        {{#str}}back{{/str}}
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-12 container">
                {{> mod_jqshow/reports/student_questions }}
            </div>
            <div class="col-12 col-lg-12 container">
                <div class="resume-config">
                    <h5 class="titlecontainer bg-primary">
                        {{#pix}} i/settings, mod_jqshow {{/pix}}
                        {{#str}}session_info, mod_jqshow{{/str}}
                    </h5>
                    {{> mod_jqshow/session/sessionresume }}
                </div>
            </div>
        {{/userreport}}
    </div>
</div>
