{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Project implemented by the "Recovery, Transformation and Resilience Plan.
    Funded by the European Union - Next GenerationEU".
    Produced by the UNIMOODLE University Group: Universities of
    Valladolid, Complutense de Madrid, UPV/EHU, León, Salamanca,
    Illes Balears, Valencia, Rey Juan Carlos, La Laguna, Zaragoza, Málaga,
    Córdoba, Extremadura, Vigo, Las Palmas de Gran Canaria y Burgos
}}
{{!
    @template mod_kuet/teacher_reports

    Teacher reports

    Classes required for JS:
    * None

    Data attibutes required for JS:
    * None

    Context variables required for this template:
    * none

    Example context (json):
    {
    }
}}
<div data-region="reports" data-kuetid="{{kuetid}}" data-cmid="{{cmid}}" class="position-relative">
    {{#allreports}}
        <h2>{{#str}}reports, mod_kuet{{/str}}</h2>
        <small>{{#str}}reports_info, mod_kuet{{/str}}</small>
    {{/allreports}}
    {{#sessionreport}}
        <h2>{{#str}}sessionreport, mod_kuet{{/str}} - {{sessionname}}</h2>
        <small>{{#str}}sessionreport_info, mod_kuet{{/str}}</small>
    {{/sessionreport}}
    {{#questionreport}}
        <h2>{{#str}}questionreport, mod_kuet{{/str}}</h2>
        <small>{{#str}}questionreport_info, mod_kuet{{/str}}</small>
    {{/questionreport}}
    {{#userreport}}
        <h2>{{#str}}userreport, mod_kuet{{/str}}</h2>
        <small class="d-block mb-2">{{#str}}userreport_info, mod_kuet{{/str}}</small>
    {{/userreport}}
    {{#groupreport}}
        <h2>{{#str}}groupreport, mod_kuet{{/str}}</h2>
        <small class="d-block mb-2">{{#str}}groupreport_info, mod_kuet{{/str}}</small>
    {{/groupreport}}
    <div class="row">
        {{#allreports}}
            {{> mod_kuet/reports/allreports }}
        {{/allreports}}
        {{#sessionreport}}
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 container">
                <div class="resume-config">
                    <h6 class="titlecontainer bg-primary">
                        {{#pix}} i/settings, mod_kuet {{/pix}}
                        {{#str}}session_info, mod_kuet{{/str}}
                    </h6>
                    {{> mod_kuet/session/sessionresume }}
                </div>
            </div>
            <div class="col-12 col-lg-12 container">
                {{> mod_kuet/reports/teacher_questions }}
            </div>
            {{#showfinalranking}}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 podium">
                    {{> mod_kuet/ranking/rankingfirstthree }}
                </div>
            {{/showfinalranking}}
            {{#hasranking}}
                <div class="col-12 col-lg-12 container">
                    {{> mod_kuet/reports/teacher_ranking }}
                </div>
            {{/hasranking}}
        {{/sessionreport}}
        {{#questionreport}}
            <a class="btn btn-primary back-report ml-auto" href="{{backurl}}">
                {{#str}}back{{/str}}
            </a>
            {{> mod_kuet/reports/question }}
        {{/questionreport}}
        {{#userreport}}
            <div class="col-12 col-lg-12 container mt-3">
                <div class="content-info">
                    <div class="participant" data-userid="{{userid}}">
                        <a href="{{userprofileurl}}" target="_blank">
                            <img src="{{userimage}}" alt="{{userfullname}}">
                            <span class="user-fullname">
                                {{userfullname}}
                            </span>
                        </a>
                    </div>
                    <a class="btn btn-primary back-report" href="{{backurl}}">
                        {{#str}}back{{/str}}
                    </a>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center w-100 mt-4 count_info">
                <div class="alert alert-info rounded-left mb-0" role="alert">
                    <b>{{#str}}questions_number, mod_kuet{{/str}}:</b> {{ numquestions }}
                </div>
                <div class="alert alert-success rounded-0 mb-0" role="alert">
                    <b>{{#str}}success, mod_kuet{{/str}}:</b> {{ success }}
                </div>
                <div class="alert alert-light rounded-0 mb-0" role="alert">
                    <b>{{#str}}partially_correct, mod_kuet{{/str}}:</b> {{ partially }}
                </div>
                <div class="alert alert-danger rounded-0 mb-0" role="alert">
                    <b>{{#str}}incorrect, mod_kuet{{/str}}:</b> {{ failures }}
                </div>
                <div class="alert alert-warning rounded-0 mb-0" role="alert">
                    <b>{{#str}}noresponse, mod_kuet{{/str}}:</b> {{ noresponse }}
                </div>
                <div class="alert alert-dark rounded-right mb-0" role="alert">
                    <b>{{#str}}noevaluable, mod_kuet{{/str}}:</b> {{ noevaluable }}
                </div>
            </div>
            <div class="user_session_grade container mt-3">{{usersessiongrade}}</div>
            <div class="col-12 col-lg-12 container">
                {{> mod_kuet/reports/student_questions }}
            </div>
            <div class="col-12 col-lg-12 container">
                <div class="resume-config">
                    <h6 class="titlecontainer bg-primary">
                        {{#pix}} i/settings, mod_kuet {{/pix}}
                        {{#str}}session_info, mod_kuet{{/str}}
                    </h6>
                    {{> mod_kuet/session/sessionresume }}
                </div>
            </div>
        {{/userreport}}

        {{#groupreport}}
            <div class="col-12 col-lg-12 container mt-3">
                <div class="content-info">
                    <div class="participant" data-groupid="{{groupid}}">
                        <a href="{{groupurl}}" target="_blank">
                            <img src="{{groupimage}}" alt="{{groupname}}">
                            <span class="user-fullname">
                                {{groupname}}
                            </span>
                        </a>
                    </div>
                    <a class="btn btn-primary back-report" href="{{backurl}}">
                        {{#str}}back{{/str}}
                    </a>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-center w-100 mt-4 count_info">
                <div class="alert alert-info rounded-left mb-0" role="alert">
                    <b>{{#str}}questions_number, mod_kuet{{/str}}:</b> {{ numquestions }}
                </div>
                <div class="alert alert-success rounded-0 mb-0" role="alert">
                    <b>{{#str}}success, mod_kuet{{/str}}:</b> {{ success }}
                </div>
                <div class="alert alert-light rounded-0 mb-0" role="alert">
                    <b>{{#str}}partially_correct, mod_kuet{{/str}}:</b> {{ partially }}
                </div>
                <div class="alert alert-danger rounded-0 mb-0" role="alert">
                    <b>{{#str}}incorrect, mod_kuet{{/str}}:</b> {{ failures }}
                </div>
                <div class="alert alert-warning rounded-0 mb-0" role="alert">
                    <b>{{#str}}noresponse, mod_kuet{{/str}}:</b> {{ noresponse }}
                </div>
                <div class="alert alert-dark rounded-right mb-0" role="alert">
                    <b>{{#str}}noevaluable, mod_kuet{{/str}}:</b> {{ noevaluable }}
                </div>
            </div>
            <div class="col-12 col-lg-12 container">
                {{> mod_kuet/reports/student_questions }}
            </div>
            <div class="col-12 col-lg-12 container">
                <div class="resume-config">
                    <h6 class="titlecontainer bg-primary">
                        {{#pix}} i/settings, mod_kuet {{/pix}}
                        {{#str}}session_info, mod_kuet{{/str}}
                    </h6>
                    {{> mod_kuet/session/sessionresume }}
                </div>
            </div>
        {{/groupreport}}
    </div>
</div>
