<div class="container-fluid question-content" data-jqid="{{jqid}}" data-questionid="{{questionid}}" data-sid="{{sessionid}}" data-cmid="{{cmid}}" data-jqshowid="{{jqshowid}}" data-region="question-content">
    <div class="row">
        <div class="col-12 question-container">
            {{^endsession}}
                <div class="question-heading bg-primary {{#improvied}}d-none{{/improvied}}">
                    <span class="session-index">
                        <span class="question-text">{{#str}}question, mod_jqshow{{/str}}</span> {{ question_index_string }}
                    </span>
                    <div class="content-progress">
                        <div class="progress session-progress">
                            <div class="progress-bar" role="progressbar" style="width: {{sessionprogress}}%" aria-valuenow="{{sessionprogress}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="question-fullscreen" data-action="question-fullscreen">
                        {{#pix}}q/zoomin, mod_jqshow{{/pix}}
                    </div>
                    <div class="question-fullscreen" data-action="question-exit-fullscreen">
                        {{#pix}}q/zoomout, mod_jqshow{{/pix}}
                    </div>
                </div>
                <div class="question-body container-fluid px-0">
                    {{#multichoice}}
                        {{> mod_jqshow/questions/multichoice }}
                    {{/multichoice}}

                    {{#truefalse}}
                        {{> mod_jqshow/questions/truefalse }}
                    {{/truefalse}}

                    {{#match}}
                        {{> mod_jqshow/questions/match }}
                    {{/match}}

                    {{#shortanswer}}
                        {{> mod_jqshow/questions/shortanswer }}
                    {{/shortanswer}}

                    {{#numerical}}
                        {{> mod_jqshow/questions/numerical }}
                    {{/numerical}}

                    {{#calculated}}
                        {{> mod_jqshow/questions/calculated }}
                    {{/calculated}}

                    {{#description}}
                        {{> mod_jqshow/questions/description }}
                    {{/description}}

                    {{#ddwtos}}
                        {{> mod_jqshow/questions/ddwtos }}
                    {{/ddwtos}}

                    {{#cloudtags}}
                        {{> mod_jqshow/questions/cloudtags }}
                    {{/cloudtags}}

                    <!-- only for teachers -->
                    {{#raceresults}}
                        {{> mod_jqshow/session/raceresults }}
                    {{/raceresults}}

                    {{#isteacher}}
                        {{> mod_jqshow/session/manual/teachercontrolpanel }}
                    {{/isteacher}}
                </div>
                {{#description}}
                    {{#programmedmode}}
                        {{^preview}}
                            <div class="btn btn-primary m-3 float-right" data-action="next-question" data-questionid="{{questionid}}" data-jqid="{{jqid}}">
                                {{#str}}next{{/str}}
                            </div>
                        {{/preview}}
                    {{/programmedmode}}
                    {{/description}}
                {{#programmedmode}}
                    {{^preview}}
                        {{^description}}
                            <div class="btn btn-primary m-3 float-right d-none" data-action="next-question" data-questionid="{{questionid}}" data-jqid="{{jqid}}">
                                {{#str}}next{{/str}}
                            </div>
                        {{/description}}
                    {{/preview}}
                {{/programmedmode}}
            {{/endsession}}
            {{#endsession}}
                {{> mod_jqshow/session/endsession }}
            {{/endsession}}
        </div>
    </div>
</div>
{{^endsession}}
    {{#js}}
        require(['mod_jqshow/question'], function(Question) {
            Question.initQuestion('[data-region="question-content"]');
        });
    {{/js}}
{{/endsession}}
