<div class="container-fluid multichoice" data-region="multichoice">
    <div class="row">
        <div class="content-indicators">
            {{#managesession}}
                <div class="users">
                    {{#pix}}q/users, mod_jqshow{{/pix}}
                    <span class="numusers">{{ numusers }}</span>
                </div>
            {{/managesession}}
            {{#hastime}}
                <div class="timer {{^countdown}}d-none{{/countdown}}" data-region="question-timer">
                    {{#pix}}q/timer, mod_jqshow{{/pix}}
                    <span class="seconds" data-region="seconds">{{ seconds }}</span>
                </div>
            {{/hastime}}
        </div>
        <div class="col-12 contain-statement" data-region="statement-text">
            <div class="statement-text">
                {{{ questiontext }}}
            </div>
        </div>
        <div class="col-12 containt-answers">
            {{# answers }}
                <div class="multichoice-answer" data-answerid="{{ answerid }}" data-questionid="{{questionid}}" data-action="multichoice-answer">
                    <div class="feedback-icons">
                        <span class="feedback-icon correct">{{#pix}}q/correct, mod_jqshow{{/pix}}</span>
                        <span class="feedback-icon incorrect">{{#pix}}q/incorrect, mod_jqshow{{/pix}}</span>
                    </div>
                    {{{ answertext  }}}
                </div>
            {{/ answers }}
        </div>
        <div class="col-12 containt-feedbacks bg-primary" data-region="containt-feedbacks">
            <div class="feedback-title">
                {{#pix}}q/feedback, mod_jqshow{{/pix}}
                {{#str}}feedback, mod_jqshow{{/str}}
            </div>
            <div class="content-feedbacks" data-region="content-feedback">
                <hr>
                <div class="content-feedback" data-region="statement-feedback">

                </div>
                <hr>
                <div class="content-feedback-answer" data-region="answer-feedback">

                </div>
            </div>
        </div>
        <div class="feedback-background" data-region="feedback-background"></div>
    </div>
</div>
{{#js}}
    require(['mod_jqshow/multichoice'{{#hastime}}, 'mod_jqshow/questiontimer'{{/hastime}}], function(Multichoice{{#hastime}}, QuestionTimer{{/hastime}}) {
        Multichoice.initMultiChoice('[data-region="question-content"]');
        {{#hastime}}QuestionTimer.initQuestionTimer('[data-region="question-content"]');{{/hastime}}
    });
{{/js}}
