.studentgroupinfo {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 34px;
    justify-content: flex-end;
    align-items: center;
    padding: 7px;
    width: fit-content;
    margin: 0 26px 6px auto;

    img {
        border-radius: 50%;
        height: 32px;
        width: auto;
        margin-right: 8px;
    }

    .groupname {
        font-size: 16px;
        color: #fff;
        margin-right: 8px;
        white-space: nowrap;
    }
}