.container-fluid.numerical.question {
    .containt-answers {
        .input-content {
            label#userNumericalLabel {
                display: none;
            }

            input#userNumerical {
                margin: 0 .5em;
            }

            .btn-group,
            .custom-select {
                margin: 0 0 0 .5em !important;
            }

            .units_title {
                font-weight: bold;
                margin: 0 .5em 0 0 !important;
            }

            .btn-group {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
        }
    }
}