.question-content {
    position: relative;
    .question-container {
        border-radius: 25px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
        padding: 0;
        .question-heading {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            padding: 30px;
            border-radius: 25px 25px 0 0;
            .session-index {
                color: white;
                font-size: 24px;
                font-weight: bold;
                white-space: nowrap;
            }
            .content-progress {
                width: 80%;
                margin: 0 1.5em;
                .session-progress {
                    .progress-bar {
                        background-color: #FFC657;
                    }
                }
            }
            .question-fullscreen {
                &:hover {
                    cursor: pointer;
                }
                .icon {
                    margin: 0;
                    width: auto;
                    height: 24px;
                }
                &[data-action="question-exit-fullscreen"] {
                    display: none;
                }
            }
        }
        .question-body {
            min-height: 55vh;
            position: relative;
            z-index: 1;
            display: flex;
            flex-flow: row nowrap;
            .content-control-panel {
                position: relative;
                z-index: 2;
                .teacher-control-panel-collapse {
                    position: absolute;
                    background-color: #ffc657;
                    height: 48px;
                    width: 48px;
                    top: 24px;
                    left: -24px;
                    .icon {
                        height: 20px;
                        width: auto;
                        margin: 0;
                        cursor: pointer;
                        transform: rotate(0deg);
                        transition: transform .5s ease-in-out
                    }
                    &.collapsed {
                        .icon {
                            transform: rotate(180deg);
                            transition: transform .5s ease-in-out
                        }
                    }
                }
                .collapse {
                    visibility: hidden;
                    &.show {
                        visibility: visible;
                        display: block;
                    }
                }
                .collapsing {
                    position: relative;
                    overflow: hidden;
                    height: auto;
                    transition-property: width, visibility;
                    transition-duration: .5s;
                    transition-timing-function: ease;
                    &.width {
                        width: 0;
                    }
                }
                .teacher-control-panel {
                    background: #faf9ff;
                    border-width: 0 0 2px 2px;
                    border-style: solid;
                    border-color: #eeecf5;
                    box-shadow: 0 0 10px rgba(0, 0, 0, .06);
                    border-radius: 0 0 8px 8px;
                    width: 260px;
                    padding: 30px;
                    h5 {
                        margin-bottom: 30px;
                    }
                    .separator {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 15px;
                        span {
                            white-space: nowrap;
                            margin-right: .7em;
                            font-weight: bold;
                            font-size: 14px;
                        }
                        .line-separator {
                            background-color: #edebf4;
                            height: 2px;
                            width: 100%;
                        }
                    }
                    .control-action,
                    .showhide-action {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: flex-start;
                        align-items: center;
                        margin-bottom: 15px;
                        .control-action-icon,
                        .showhide-action-icon {
                            height: 30px;
                            width: 30px;
                            border-radius: 8px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 15px;
                            .icon {
                                margin: 0;
                                height: 13px;
                                width: auto;
                            }
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                    .control-action {
                        cursor: pointer;
                        transition: opacity .3s ease-in-out;
                        &:hover {
                            opacity: .7;
                            transition: opacity .3s ease-in-out;
                        }
                    }
                    .showhide-action {
                        justify-content: space-between;
                    }
                    .endsession {
                        background-color: #f84015;
                        width: 100%;
                        padding: 8px;
                        cursor: pointer;
                        border: none;
                        transition: opacity .3s ease-in-out;
                        &:hover {
                            opacity: .7;
                            transition: opacity .3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    .overlay-icon-container {
        z-index: 2;
    }
}
@media (max-width: 991px) {
    .question-content {
        .question-container {
            .question-heading {
                display: block;
                position: relative;
                padding: 30px 30px 20px 30px;
                .session-index {
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    font-weight: normal;
                    font-size: 18px;
                    .question-text {
                        display: none;
                    }
                }
                .content-progress {
                    display: block;
                    width: 100%;
                    margin: 1.5em 0 0 0;
                    .progress {
                        height: 10px;
                    }
                }
                .question-fullscreen {
                    position: absolute;
                    top: 10px;
                    right: 20px;
                    .icon {
                        height: 20px;
                    }
                }
            }
        }
    }
}
