.general-ranking {
    border-radius: 25px;
    padding: 30px;
    width: 100%;
    height: 90vh;
    .ranking-heading {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        margin-bottom: 2em;
        h2 {
            font-size: 24px;
            color: white;
            text-align: center;
            flex-grow: 1;
        }
        .question-fullscreen {
            .icon {
                margin: 0;
                width: auto;
                height: 24px;
            }
            &:hover {
                cursor: pointer;
            }
        }
        [data-action="question-exit-fullscreen"] {
            display: none;
        }
    }
    .ranking-users {
        position: relative;
        z-index: 1;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        height: 70vh;
        overflow-y: auto;
        &::-webkit-scrollbar {
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: #e0e0e0;
        }
        &::-webkit-scrollbar-thumb {
            background-color: #6a737b;
            border-radius: 4px;
        }
        .ranking-users-body {
            width: 70%;
            .d-table-cell {
                padding: 15px;
                color: white;
                font-size: 16px;
                border-bottom: 1px solid rgba(0,0,0,.1);
            }
            .ranking-users-thead {

            }
            .user-item {
                .userposition {

                }
                .username {
                    img {
                        border-radius: 60px;
                        width: auto;
                        height: 50px;
                        border: 1px solid white;
                        margin-right: .5em;
                    }
                }
                .questionscore {
                    .icon {

                    }
                }
            }
            .ranking-users-data {
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    .userposition {
                        span {
                            height: 34px;
                            width: 34px;
                            color: black;
                            font-weight: bold;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-right: 5px;
                            background-repeat: no-repeat;
                            background-size: contain;
                        }
                    }
                }
                &:nth-child(2) {
                    .userposition {
                        span {
                            background-image: url([[pix:mod_jqshow|q/goldranking]]);
                        }
                    }
               }
                &:nth-child(3) {
                    .userposition {
                        span {
                            background-image: url([[pix:mod_jqshow|q/silverranking]]);
                        }
                    }
                }
                &:nth-child(4) {
                    .userposition {
                        span {
                            background-image: url([[pix:mod_jqshow|q/copperranking]]);
                        }
                    }
                }
            }
        }
    }
    &.isteacher {
        margin-right: 2em;
    }
}
