body#page-mod-jqshow-view.jqshow-reports {
    .sessions-list {
        margin-top: 25px;
        padding: 0;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
        background-color: white;
        .sessions-list-header {
            padding: 20px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px 8px 0 0;
            max-height: 60px;
            .sessions-list-header-title {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                color: white;
                h5 {
                    margin-bottom: 0;
                }
            }
            .create-session {
                background-color: white;
            }
        }
        .sessions-list-body {
            width: 100%;
            .sessions-list-thead {
                font-weight: bold;
                .d-table-cell {
                    color: #2B2B2B !important;
                }
            }
            .sessions-list-data {
                font-weight: normal;
                .d-table-cell {
                    border-top: 1px solid #EDEBF4;
                    color: #929292 !important;
                }
            }
            .d-table-cell {
                padding: 15px;
                &.viewreport-session {
                    div, a {
                        width: 125px;
                        height: 32px;
                        color: white;
                        background-color: black;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        &:hover {
                            cursor: pointer;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}
