body#page-mod-jqshow-reports.jqshow-reports {
    .content-info {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        .participant {
            display: flex;
            flex-flow: row nowrap;
            border-radius: 34px;
            justify-content: flex-start;
            align-items: center;
            height: 70px;
            margin: 0;
            a {
                display: flex;
                flex-flow: row nowrap;
                &:hover {
                    text-decoration: none !important;
                    cursor: pointer;
                    span {
                        text-decoration: none;
                    }
                }
            }
            img {
                border-radius: 50%;
                height: 70px;
                width: auto;
                margin-right: 10px;
            }
            .user-fullname {
                font-size: 24px;
                color: black;
                margin-right: 8px;
            }
        }
        .back-report {

        }
    }
    [data-region="reports"] {
        .row {
            margin-right: 0;
            margin-left: 0;
        }
    }
    .user_session_grade {
        padding: 10px;
        border: 1px solid black;
        border-radius: 9px;
        width: auto;
        height: 45px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        margin-right: 20px;
    }
    .sessions-list {
        margin-top: 25px;
        padding: 0;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
        background-color: white;
        .sessions-list-header {
            padding: 10px 20px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            border-radius: 8px 8px 0 0;
            max-height: 60px;
            .sessions-list-header-title {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                color: white;
                h6 {
                    margin-bottom: 0;
                }
            }
            .create-session {
                background-color: white;
            }
        }
        .content_table {
            width: 100%;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                background: #e0e0e0;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #6a737b;
                border-radius: 4px;
            }
            .sessions-list-body {
                width: 100%;
                .sessions-list-thead {
                    font-weight: bold;
                    .d-table-cell {
                        color: #2B2B2B !important;
                    }
                }
                .sessions-list-data {
                    font-weight: normal;
                    .d-table-cell {
                        border-top: 1px solid #EDEBF4;
                        color: #929292 !important;
                    }
                }
                .d-table-cell {
                    padding: 15px;
                    &.viewreport-session {
                        div, a {
                            width: 125px;
                            height: 32px;
                            color: #667085;
                            background-color: transparent;
                            border-radius: 8px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 0 auto;
                            transition: background-color .2s ease-in-out;
                            &:hover {
                                cursor: pointer;
                                text-decoration: none;
                                background-color: #e6e6e6;
                                transition: background-color .2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
    .resume-config {
        margin-top: 25px;
        padding: 0;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,.06);
        .titlecontainer {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
            border-radius: 8px 8px 0 0;
            color: #FFFFFF;
            padding: 1em;
        }
        .list-group {
            display: flex;
            flex-flow: row wrap;
            li.list-group-item {
                width: 16.6%;
            }
        }
    }
    .podium {
        .ranking-first-three {
            display: flex;
            margin-top: 25px;
            border-radius: 8px;
            padding-top: 30px;
            .content-users {
                width: 70%;
                .first-user,
                .second-user,
                .third-user {
                    transform-origin: bottom center;
                }
            }
        }
    }
    .download-report {
        margin-top: 25px;
        padding: 0;
        form {
            margin: 25px auto !important;
        }
    }
    .questions-list,
    .ranking-list {
        margin-top: 25px;
        padding: 0;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,.06);
        .titlecontainer {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
            border-radius: 8px 8px 0 0;
            color: #FFFFFF;
            padding: 1em;
        }
        .session-questions,
        .ranking-users {
            max-height: 700px;
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: 8px;
                height: 8px;
            }
            &::-webkit-scrollbar-track {
                background: #e0e0e0;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #6a737b;
                border-radius: 4px;
            }
            .questions-list-body,
            .ranking-users-body {
                width: 100%;
                .questions-list-thead,
                .ranking-users-thead {
                    font-weight: bold;
                    .d-table-cell {
                        color: #2b2b2b !important;
                    }
                }
                .questions-list-data,
                .ranking-users-data {
                    font-weight: normal;
                    &:nth-child(even) {
                        background-color: rgba(0,0,0,.03);
                    }
                    .d-table-cell {
                        border-top: 1px solid #edebf4;
                        color: #929292 !important;
                        &.viewreport,
                        &.viewquestion,
                        &.actions {
                            a, div {
                                width: 125px;
                                height: 32px;
                                color: #667085;
                                background-color: transparent;
                                border-radius: 8px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin: 0 auto;
                                transition: background-color .2s ease-in-out, color .2s ease-in-out;
                                &:hover {
                                    cursor: pointer;
                                    text-decoration: none;
                                    background-color: #e6e6e6;
                                    transition: background-color .2s ease-in-out, color .2s ease-in-out;
                                    color: #475467;
                                }
                                &:focus {
                                    background-color: transparent !important;
                                }
                            }
                        }
                        &.actions {
                            a, div {
                                width: 32px;
                                margin: unset;
                                .icon {
                                    margin: 0;
                                }
                            }
                        }
                        .failure,
                        .incorrect,
                        .success,
                        .correct,
                        .partially,
                        .noresponse,
                        .noevaluable,
                        .invalid {
                            padding: 6px;
                            span {
                                font-weight: bold;
                                font-size: 14px;
                            }
                        }
                        .failure,
                        .incorrect {
                            background-color: #ffeaea;
                            span {
                                color: #f35b5b;
                            }
                        }
                        .success,
                        .correct {
                            background-color: #ebf9f4;
                            span {
                                color: #2fb182;
                            }
                        }
                        .partially {
                            background-color: #fefefe;
                            span {
                                color: #818182;
                            }
                        }
                        .noresponse {
                            background-color: #fff7e6;
                            span {
                                color: #feac16;
                            }
                        }
                        .noevaluable {
                            background-color: #fefefe;
                            span {
                                color: #1b1e21;
                            }
                        }
                        .invalid {
                            background-color: #d9d9d9;
                            span {
                                color: #000;
                            }
                        }
                    }
                }
                .d-table-cell {
                    padding: 15px;
                    vertical-align: middle;
                }
                .participant {
                    display: flex;
                    flex-flow: row nowrap;
                    border-radius: 34px;
                    justify-content: flex-start;
                    align-items: center;
                    height: 38px;
                    margin: 0;
                    a {
                        display: flex;
                        flex-flow: row nowrap;
                        &:hover {
                            text-decoration: none !important;
                            cursor: pointer;
                            span {
                                text-decoration: none;
                            }
                        }
                    }
                    img {
                        border-radius: 50%;
                        height: 38px;
                        width: auto;
                        margin-right: 10px;
                    }
                    .user-fullname {
                        font-size: 16px;
                        color: black;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    .question-report {
        margin-top: 1em;
        .question,
        .question-info {
            padding: 0;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,.06);
            .titlecontainer {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
                border-radius: 8px 8px 0 0;
                color: #FFFFFF;
                padding: 1em;
            }
            .question-data,
            .question-info-data {
                padding: 0 1em 1em 1em;
                .question-data-body {
                    text-align: center;
                    font-size: 16px;
                    p {
                        text-align: center !important;
                    }
                    .correct-answers-title {
                        margin-top: 1em;
                    }
                    .correct-answers {
                        list-style: inside;
                    }
                    .question-preview {
                        width: 125px;
                        height: 32px;
                        color: white;
                        background-color: black;
                        border-radius: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 8px auto;
                        &:hover {
                            cursor: pointer;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .answers {
            padding: 0;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,.06);
            margin-top: 1em;
            .titlecontainer {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
                border-radius: 8px 8px 0 0;
                color: #FFFFFF;
                padding: 1em;
            }
            .answers-data {
                padding: 1em 1em 1em 1em;
                .answers-data-body {
                    .answer {
                        padding: 1em;
                        margin-bottom: 1em;
                        &.correct {
                            background-color: #d7e4d6;
                        }
                        &.partially {
                            background-color: #f1f1f1;
                        }
                        &.incorrect {
                            background-color: #f4d6d2;
                        }
                        .answer-body {
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: space-between;
                            align-items: center;
                            .answer-left,
                            .answer-right {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: flex-start;
                                align-items: center;
                            }
                            .result-icon {
                                background: white;
                                padding: 10px;
                                border-radius: 15px;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: center;
                                align-items: center;
                                height: 50px;
                                width: 50px;
                                margin-right: 15px;
                                .icon {
                                    margin: 0;
                                    height: 22px;
                                    width: auto;
                                }
                            }
                            .answer-title {
                                font-size: 16px;
                                font-weight: bold;
                                img  {
                                    display: none;
                                }
                            }
                            .num-answers {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid;
                                border-radius: 2px;
                                height: 25px;
                                padding: 8px;
                                margin-right: 15px;
                                &.correct {
                                    border-color: #0fd08c;
                                }
                                &.incorrect {
                                    border-color: #f85455;
                                }
                                &.partial {
                                    border-color: #fcefdc;
                                }
                                .icon {
                                    height: 16px;
                                    width: auto;
                                }
                                span {
                                    font-size: 16px;
                                    font-weight: bold;
                                }
                            }
                            .averagetime {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: center;
                                align-items: center;
                                .icon {
                                    height: 20px;
                                    width: auto;
                                }
                                span {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .alert {
        border-radius: unset;
    }
}
@media (max-width: 1150px) {
    body#page-mod-jqshow-reports.jqshow-reports {
        .count_info {
            flex-flow: row wrap;
        }
        [data-region="reports"] {
            .resume-config {
                .list-group {
                    .list-group-item {
                        width: 25%;
                    }
                }
            }
        }
    }
}
@media (max-width: 640px) {
    body#page-mod-jqshow-reports.jqshow-reports {
        [data-region="reports"] {
            .resume-config {
                .list-group {
                    .list-group-item {
                        width: 33%;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    body#page-mod-jqshow-reports.jqshow-reports {
        [data-region="reports"] {
            .resume-config {
                display: none;
            }
        }
    }
}