.container-fluid.shortanswer.question {
	.contain-statement {
		.statement-text {
			text-align: center;
			p {
				text-align: center !important;
			}
		}
	}
	.containt-answers {
		.input-content {
			width: 100%;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			label {
				display: none;
			}
			input {
				display: block;
				&.form-control  {
					width: 60%;
				}
			}
		}
		.answer-help {
			display: block;
			color: red!important;
			margin-top: 0;
			flex-basis: 60%;
		}
	}
}