body.path-mod-jqshow {
    *:focus,
    .btn-primary:focus,
    .btn-primary.focus {
        outline-style: none !important;
        outline-color: transparent !important;
        outline-offset: unset !important;
        box-shadow: none !important;
    }
    [data-region="mainpage"] {
        overflow-x: hidden !important;
    }
    .session-content {
        position: relative;
    }
    .overlay-icon-container {
        z-index: 3000;
    }
    #page-content {
        #region-main {
            .bg-primary {
                h1, h2, h3, h4, h5 {
                    color: #fff !important;
                }
            }
            h1, h2, h3, h4, h5 {
                &.bg-primary {
                    color: #fff !important;
                }
            }
        }
    }
}
