body.path-mod-jqshow {
    *:focus {
        outline-style: none !important;
        outline-color: transparent !important;
        outline-offset: unset !important;
        box-shadow: none !important;
    }
}
