{{< core/modal }}
    {{$classes}}modal_jqshow{{/classes}}
    {{$headerclasses}}modal_jqshow_header{{/headerclasses}}
    {{$header}}
        <h5 id="{{uniqid}}-modal-title" class="modal-title" data-region="title">
            {{#pix}}i/eye, mod_jqshow{{/pix}}
            {{$title}}
                {{ title }}
            {{/title}}
        </h5>
    {{/header}}
    {{$body}}
        {{{body}}}
    {{/body}}
    {{$footer}}
        <button type="button" class="btn btn-secondary" data-action="cancel">{{#str}} cancel {{/str}}</button>
    {{/footer}}
{{/ core/modal }}
