<div data-region="sessions-panel" data-courseid="{{courseid}}" data-cmid="{{cmid}}">
    <div class="position-relative">
        <h2>{{#str}}sessions, mod_jqshow{{/str}}</h2>
        <small>{{#str}}sessions_info, mod_jqshow{{/str}}</small>
        <a class="mobile-create-session" href="{{createsessionurl}}">
            + {{#str}}create_session, mod_jqshow{{/str}}
        </a>
        {{#hasqrcodeimage}}
            <div class="imageQr">
                <div class="item">
                    <a href="#imageQr">
                        {{{urlqrcode}}}
                    </a>
                </div>
            </div>
            <div class="lightboxes">
                <div class="lightbox" id="imageQr">
                    <a href="#" class="close">&times;</a>
                    <div class="content">
                        {{{urlqrcode}}}
                    </div>
                </div>
            </div>
        {{/hasqrcodeimage}}
    </div>
    <div class="row">
        <div class="col-12 active-sessions sessions-list">
            <div class="sessions-list-header bg-primary">
                <div class="sessions-list-header-title">
                    {{#pix}} i/sessions_list, mod_jqshow {{/pix}}
                    <h5>{{#str}}active_sessions, mod_jqshow{{/str}}</h5>
                </div>
                <a class="btn btn-secondary create-session text-primary border-0" href="{{createsessionurl}}">
                    {{#str}}create_session, mod_jqshow{{/str}}
                </a>
            </div>
            <div class="sessions-list-body d-table">
                <div class="d-table-row sessions-list-thead">
                    <div class="d-table-cell">{{#str}}session_name, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell">{{#str}}sessionmode, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell">{{#str}}timemode, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}sessiontime, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}timeperquestion, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}questions_number, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}session_date, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}session_actions, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell"></div>
                </div>
                {{#activesessions}}
                    <div class="d-table-row sessions-list-data {{#hasconflict}}session-conflict{{/hasconflict}} {{#haswarning}}session-warning{{/haswarning}} {{#issessionstarted}}session-started{{/issessionstarted}}">
                        <div class="d-table-cell">{{name}}</div>
                        <div class="d-table-cell">{{sessionmode}}</div>
                        <div class="d-table-cell">{{timemode}}</div>
                        <div class="d-table-cell text-center">{{sessiontime}}</div>
                        <div class="d-table-cell text-center">{{timeperquestion}}</div>
                        <div class="d-table-cell text-center">{{questions_number}}</div>
                        <div class="d-table-cell text-center">{{date}}</div>
                        <div class="d-table-cell actions">
                            {{#managesessions}}
                                <div class="content-actions">
                                    <div class="session-action {{#issessionstarted}}disabled{{/issessionstarted}}">
                                        <a href="{{editsessionurl}}">
                                            {{#pix}} i/edit_session, mod_jqshow {{/pix}}
                                        </a>
                                    </div>
                                    <div class="session-action" data-action="copy_session" data-sessionid="{{sessionid}}">
                                        {{#pix}} i/copy_session, mod_jqshow {{/pix}}
                                    </div>
                                    <div class="session-action {{#issessionstarted}}disabled{{/issessionstarted}}"
                                         {{^issessionstarted}}data-action="delete_session"{{/issessionstarted}}
                                         data-sessionid="{{sessionid}}">
                                        {{#pix}} i/delete_session, mod_jqshow {{/pix}}
                                    </div>
                                </div>
                                <div class="dropdown show mobile-content-actions">
                                    <a class="dropdown-toggle" href="#" role="button" id="actions-{{sessionid}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{#pix}}i/three_dots, mod_jqshow {{/pix}}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="actions-{{sessionid}}">
                                        <a class="dropdown-item {{#issessionstarted}}disabled{{/issessionstarted}}" href="{{editsessionurl}}">
                                            {{#str}}edit_session, mod_jqshow{{/str}}
                                        </a>
                                        <a class="dropdown-item" href="#" data-action="copy_session" data-sessionid="{{sessionid}}">
                                            {{#str}}copy_session, mod_jqshow{{/str}}
                                        </a>
                                        <a class="dropdown-item" {{#issessionstarted}}disabled{{/issessionstarted}} href="#" data-action="delete_session" data-sessionid="{{sessionid}}">
                                            {{#str}}delete_session, mod_jqshow{{/str}}
                                        </a>
                                    </div>
                                </div>
                            {{/managesessions}}
                        </div>
                        <div class="d-table-cell initsession">
                            {{#initsession}}
                                <div class="{{#hasactivesession}}disabled{{/hasactivesession}}"
                                        {{^hasactivesession}}data-action="init_session"{{/hasactivesession}}
                                        data-sessionid="{{sessionid}}"
                                >
                                    + <span>{{stringsession}}</span>
                                </div>
                            {{/initsession}}
                            {{#issessionstarted}}
                                <div
                                     {{^hasactivesession}}data-action="init_session"{{/hasactivesession}}
                                     data-sessionid="{{sessionid}}"
                                >
                                    <a href="{{startedssionurl}}">
                                        + <span>{{stringsession}}</span>
                                    </a>
                                </div>
                            {{/issessionstarted}}
                            {{#hasconflict}}
                                <span class="icon-warning" data-toggle="tooltip" title="{{#str}}sessionconflict, mod_jqshow{{/str}}">
                                    {{#pix}} i/danger, mod_jqshow {{/pix}}
                                </span>
                            {{/hasconflict}}
                            {{#haswarning}}
                                <span class="icon-warning" data-toggle="tooltip" title="{{#str}}sessionwarning, mod_jqshow{{/str}}">
                                    {{#pix}} i/warning, mod_jqshow {{/pix}}
                                </span>
                            {{/haswarning}}
                        </div>
                    </div>
                {{/activesessions}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 completed-sessions sessions-list">
            <div class="sessions-list-header bg-primary">
                <div class="sessions-list-header-title">
                    {{#pix}} i/sessions_list, mod_jqshow {{/pix}}
                    <h5>{{#str}}completed_sessions, mod_jqshow{{/str}}</h5>
                </div>
            </div>
            <div class="sessions-list-body d-table">
                <div class="d-table-row sessions-list-thead">
                    <div class="d-table-cell">{{#str}}session_name, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell">{{#str}}sessionmode, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell">{{#str}}timemode, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}sessiontime, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}timeperquestion, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}questions_number, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}session_date, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}session_finishingdate, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell text-center">{{#str}}session_actions, mod_jqshow{{/str}}</div>
                    <div class="d-table-cell"></div>
                </div>
                {{#endedsessions}}
                    <div class="d-table-row sessions-list-data">
                        <div class="d-table-cell">{{name}}</div>
                        <div class="d-table-cell">{{sessionmode}}</div>
                        <div class="d-table-cell">{{timemode}}</div>
                        <div class="d-table-cell text-center">{{sessiontime}}</div>
                        <div class="d-table-cell text-center">{{timeperquestion}}</div>
                        <div class="d-table-cell text-center">{{questions_number}}</div>
                        <div class="d-table-cell text-center">{{date}}</div>
                        <div class="d-table-cell text-center">{{finishingdate}}</div>
                        <div class="d-table-cell actions">
                            {{#managesessions}}
                                <div class="content-actions">
                                    <div class="session-action" data-action="copy_session" data-sessionid="{{sessionid}}">
                                        {{#pix}} i/copy_session, mod_jqshow {{/pix}}
                                    </div>
                                    <div class="session-action" data-action="delete_session" data-sessionid="{{sessionid}}">
                                        {{#pix}} i/delete_session, mod_jqshow {{/pix}}
                                    </div>
                                </div>
                                <div class="dropdown show mobile-content-actions">
                                    <a class="dropdown-toggle" href="#" role="button" id="actions-{{id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{#pix}}i/three_dots, mod_jqshow {{/pix}}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="actions-{{id}}">
                                        <a class="dropdown-item" href="#" data-action="copy_session" data-sessionid="{{sessionid}}">
                                            {{#str}}copy_session, mod_jqshow{{/str}}
                                        </a>
                                        <a class="dropdown-item" href="#"  data-action="delete_session" data-sessionid="{{sessionid}}">
                                            {{#str}}delete_session, mod_jqshow{{/str}}
                                        </a>
                                    </div>
                                </div>
                            {{/managesessions}}
                        </div>
                        <div class="d-table-cell viewreport-session">
                            <a href="{{viewreporturl}}">
                                + <span>{{#str}}viewreport_session, mod_jqshow{{/str}}</span>
                            </a>
                        </div>
                    </div>
                {{/endedsessions}}
            </div>
        </div>
    </div>
</div>
{{#js}}
    require(['mod_jqshow/sessionspanel'],
        function(SessionsPanel) {
            SessionsPanel.initSessionsPanel('[data-region="sessions-panel"]');
        }
    );
{{/js}}
