<h4>SESSIONES</h4>
{{#ispage1}}
    {{{form}}}
{{/ispage1}}
{{#ispage2}}
    {{name}}
{{/ispage2}}
{{#ispage3}}
    {{name}}
{{/ispage3}}
{{#issessionview}}
    <div>
        <a href="{{createsessionurl}}">Crear sesión</a>
    </div>
    <div>
        <h5>Sesiones activas</h5>
        {{#activesessions}}
            <h5>Nombre de la sesion: {{name}}</h5>
        {{/activesessions}}
    </div>
    <div>
        <h5>Sesiones finalizadas</h5>
        {{#endedsessions}}
            <h5>Nombre de la sesion: {{name}}</h5>
        {{/endedsessions}}
    </div>
{{/issessionview}}



