<div class="container-fluid">
    {{#ispage1}}
        {{{form}}}
    {{/ispage1}}
    {{#ispage2}}
        {{name}}
    {{/ispage2}}
    {{#ispage3}}
        {{name}}
    {{/ispage3}}

    {{#issessionview}}
        {{> mod_jqshow/sessions_panel }}
    {{/issessionview}}
</div>


