<div class="container no-session-start">
    <div class="containt-desktop">
        <div class="content-image">
            <img src="{{notsessionimage}}" alt="{{#str}}nosession, mod_jqshow{{/str}}" />
        </div>
        <div class="content-text">
            <h2>{{#str}}notactivesession, mod_jqshow{{/str}}</h2>
            <p>{{#str}}notactivesessionawait, mod_jqshow{{/str}}</p>
            {{#hasnextsession}}
                <div class="alert alert-primary" role="alert">
                    <b>{{#str}}nextsession, mod_jqshow{{/str}}</b> {{nextsessiontime}}
                </div>
            {{/hasnextsession}}
            <button class="btn btn-primary">
                {{#str}}reports, mod_jqshow{{/str}}
            </button>
        </div>
    </div>
</div>
