<h4>Profesor</h4>
<div data-region="canvas" data-userid="{{userid}}" data-username="{{userfullname}}" data-isteacher="{{isteacher}}">
    <div id="message-box"></div>
    <div id="countusers">0</div>
    <ul id="userlist">

    </ul>
    <button id="teacher_send">Profesor envía</button>
    <div id="teacher_messages"></div>
</div>

{{#js}}
    require(['mod_jqshow/sockets'], function(Sockets) {
        Sockets.initSockets('[data-region="canvas"]');
        /*window.onbeforeunload = function(e) {
            // TODO review.
            e.returnValue = confirm(
            'Si sale de esta página se cerrará la conexión para todos los usuarios y perderá el' +
            ' progreso si ésta no ha finalizado. ¿Desea salir?'
            );
        };*/
    });
{{/js}}
